<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-circle pg-blue justify-content-center mt-5">
      <li class="page-item previous {{ page <= 1 ? 'disabled':''}}"><a class="page-link" mdbWavesEffect on-click='paginationPrevious()'>&laquo;
          Previous page</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect on-click='paginationNext()'>Next page &raquo;</a></li>
    </ul>
  </nav>
  <br>
  <h3 class="text-center">Tv Series</h3>
  <br>
  <div class="d-flex justify-content-center align-items-center">
    <input [(ngModel)]="filter" class="form-control mr-sm-2 w-50 shadow" type="text" name="search" placeholder="Search">
  </div>
  <div class="series">
    <div class="serie" *ngFor="let serie of series | filter:filter">
      <a routerLink="/serie/{{serie.id}}" routerLinkActive="router-link-active">
        <p>{{serie.name}}</p>
      </a>
      <a routerLink="/serie/{{serie.id}}" routerLinkActive="router-link-active">
        <img src="https://image.tmdb.org/t/p/w200/{{serie.poster_path}}" alt="" style="width: 100%">
        <br>
      </a>
      <div class="scrollable" id="style-7">
        <p>Rating: {{serie.vote_average}} ⭐</p>
        <span *ngFor="let genre_id of serie.genre_ids">
          <span class="genre_id" *ngFor="let genre of genres">
            <span class="genres-names" *ngIf="genre_id === genre.id">{{genre?.name}} </span>
          </span>
          <!-- Genres: {{genres.}}{{movie.genre_ids}} -->
        </span>
        <br>
        {{serie.overview}}
      </div>
    </div>
  </div>
</div>
