<footer class="footer">
  <div class="copyrigth">
    <h5>&copy;Francisco Sierra, 2019</h5>
  </div>
  <div class="contacto">
    <span>
      <i class="fa fa-facebook-square" style="font-size:20px;"></i>
    </span>
    <span>
      <i class="fa fa-instagram" style="font-size:20px;"></i>
    </span>
    <span>
      <i class="fa fa-twitter-square" style="font-size:20px;"></i>
    </span>
    <span>
      <i class="fa fa-linkedin-square" style="font-size:20px;"></i>
    </span>
    <span>
      <i class="fa fa-whatsapp" style="font-size:20px;"></i>
    </span>
    <span>
      <i class="fa fa-youtube-play" style="font-size:20px;"></i>
    </span>
  </div>
</footer>
