<header>
    <mat-toolbar class="navigation">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
            Home
        </a>
        <a [routerLink]="['/tv/popular']" routerLinkActive="router-link-active">
            Popular TV Series
        </a>
        <a [routerLink]="['/tv/top_rated']" routerLinkActive="router-link-active">
            Top Rated TV Series
        </a>
        <a [routerLink]="['/movies/popular']" routerLinkActive="router-link-active">
            Popular Movies
        </a>
        <a [routerLink]="['/movies/upcoming']" routerLinkActive="router-link-active">
            Upcoming Movies
        </a>
    </mat-toolbar>
</header>