form.search {
  margin: 2em auto;
  max-width: 300px;
  border-radius: 25px;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
  
    &:hover {
      background: #0b7dda;
    }
  }
}

