<div class="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">The Movie App</h1>
      <p>Find all your movies and tv series in one place.</p>
    </div>
  </div>
  <!-- <img src="https://atlantis.nyc3.digitaloceanspaces.com/media/legacy/atlantis/Things_To_Do/Entertainment/Hero/Experiences_Theater_Hero.jpg" class="img-fluid" alt="Responsive image"> -->
  <app-carousel></app-carousel>
  <app-carousel-tv></app-carousel-tv>
  <app-carousel-people></app-carousel-people>
</div>
